[Unit]
Description=ipsets service wrapper
AssertPathExists={{ geoip_ipset_save }}

[Service]
Type=simple
RemainAfterExit=yes
ExecStart={{ geoip_ipset_restore_script }}
ExecReload={{ geoip_ipset_restore_script }}
ExecStop={{ geoip_ipset_save_script }}

[Install]
WantedBy=basic.target