[Unit]
Description=ipsets service wrapper
AssertPathExists={{ firewall_geoip_ipset_save }}

[Service]
Type=simple
RemainAfterExit=yes
ExecStart={{ firewall_geoip_ipset_restore_script }}
ExecReload={{ firewall_geoip_ipset_restore_script }}
ExecStop={{ firewall_geoip_ipset_save_script }}

[Install]
WantedBy=basic.target