#!/bin/bash

# Config
countries="{{ firewall_geoip_countries | join('\n') | lower }}"


# Script
mkdir /tmp/geoip_download
for country in countries
do
    ipset create country_$country nethash
    ipset flush country_$country nethash
    curl https://www.ipdeny.com/ipblocks/data/aggregated/$country-aggregated.zone > /tmp/ipblock-aggregated.zone
    cat /tmp/ipblock-aggregated.zon | xargs -I{} ipset add country_$country {}
next