#!/bin/bash

# Config
countries="{{ firewall_geoip_countries | join(' ') | lower }}"


# Script

mkdir /tmp/geoip_download

for country in $countries
do
    ipset create country_$country nethash
    ipset flush country_$country nethash
    curl https://www.ipdeny.com/ipblocks/data/aggregated/$country-aggregated.zone > /tmp/geoip_download/ipblock-aggregated_$country.zone
    cat /tmp/geoip_download/ipblock-aggregated_$country.zone | xargs -I{} ipset add country_$country {}
done

rm -rf /tmp/geoip_download